@using UCommerce.Xslt
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var root = CurrentPage.AncestorsOrSelf(1).First();
    var imageSlider = root.Children.Where("DocumentTypeAlias == @0", "slider");
    var listSlider = imageSlider.First().Children;
    var isHomePage = root == CurrentPage ? true : false;
}

@if (isHomePage)
{
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < listSlider.Count(); i++)
                            {
                                <li data-target="#slider-carousel" data-slide-to="@i" class="@(i==0?"active":"")"></li>
                            }
                            @*<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#slider-carousel" data-slide-to="1"></li>
                                <li data-target="#slider-carousel" data-slide-to="2"></li>*@
                        </ol>
                        <div class="carousel-inner">
                            @if (listSlider.Any())
                            {
                                foreach (var item in listSlider)
                                {
                                    <div class="item @(item == listSlider[0] ? "active" : "" )">
                                        <div class="col-sm-6">
                                            <h1>@Umbraco.Field("siteName", recursive: true)</h1>
                                            <h2>@item.title</h2>
                                            <p>@item.description</p>
                                            <button type="button" class="btn btn-default get">Get it now</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="@Umbraco.Media(item.introduce).url" class="girl img-responsive" alt="" />
                                            <img src="@Umbraco.Media(item.priceLogo).url" class="pricing" alt="" />
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/slider-->
}
